<section>
    <app-header class="header"></app-header>
</section>
<section class="reset-password-wrapper">
    <div class="reset-password-container">
        <h1>Reset password</h1>
        <h2>Create a new password for your <span class="highlight">Videoflix</span> account.</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
                <input [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Enter a Password"
                    formControlName="password"><img src="assets/img/icons/password_visibility.svg" alt="eye"
                    (click)="togglePasswordVisibility()">
                @if (resetPasswordForm.controls['password'].touched && resetPasswordForm.controls['password'].invalid) {
                <div class="error-message">
                    @if (resetPasswordForm.controls['password'].errors?.['required']) {
                    <p>Password is required.</p>
                    }
                    @if (resetPasswordForm.controls['password'].errors?.['minlength']) {
                    <p>Password must be at least 6 characters
                        long.</p>
                    }
                </div>
                }
            </div>
            <div class="input-container">
                <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" placeholder="Confirm Password"
                    formControlName="confirmPassword"><img src="assets/img/icons/password_visibility.svg" alt="eye"
                    (click)="toggleConfirmPasswordVisibility()">
                @if (resetPasswordForm.controls['password'].touched &&
                resetPasswordForm.controls['confirmPassword'].invalid) {
                <div class="error-message">
                    @if (resetPasswordForm.controls['confirmPassword'].value !==
                    resetPasswordForm.controls['password'].value) {
                    <p>Passwords must match!</p>
                    }

                </div>
                }
            </div>
            <button type="submit" [disabled]="resetPasswordForm.invalid">Reset my Password</button>
        </form>
    </div>
</section>
<section>
    <app-footer></app-footer>
</section>