$white : #FFFFFF;
$black : #000000;
$main-blue-dark : #2E3EDF;
$error-red : #FF002E;
$responsive-breakpoint : 600px;


html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    font-variation-settings: 'wght' 400;
}


@mixin dFlex($fd: row, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

//example : @include dFlex(column, flex-start, center);

@mixin DMSans($weight, $size, $line-height, $color) {
    font-family: 'DM Sans', sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
}

//example : @include DMSans(700, 64px, 76.8px, $main-blue-dark);

@mixin buttonBlue($width, $height, $gap) {
    width: $width;
    height: $height;
    gap: $gap;
    @include DMSans(700, 18px, 23.44px, $white);
    background-color: $main-blue-dark;
    border: none;
    padding: 12px 24px;
    border-radius: 40px;

    &:hover {
        //background-color: $purple-2;
        transition: all 0.1s ease-in;
        cursor: pointer;
    }

    &:active {
        //background-color: $purple-1;
        color: $white;
        transition: all 0.1s ease-in;
    }

    &:disabled {
        //background-color: $text-gray;
        cursor: not-allowed;
        transition: all 0.1s ease-in;
    }
}

//example : @include buttonBlue(151px, 48px, 10px);

@mixin btnHover($color) {
    background-color: darken($color, 10%);
    transition: all 175ms ease-in;
}

@mixin btnActive($color) {
    background-color: darken($color, 15%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    transition: all 175ms ease-in;
}

@mixin btnDisabled($color) {
    background-color: lighten($color, 25%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    transition: all 175ms ease-in;
}

@font-face {
    font-family: 'DMSans';
    src: url('assets/fonts/DMSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

//global classes
.pointer {
    cursor: pointer;
}

.mt-16 {
    margin-top: 16px;
}

.highlight {
    @include DMSans(400, 16px, 19.2px, $main-blue-dark !important);
}

//custom scrollbar
::-webkit-scrollbar {
    width: 6px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $main-blue-dark;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: $black;
    border-radius: 8px;
    margin: 10px;
}

// global classes for inputfields
textarea:focus,
input:focus,
select:focus,
option:focus {
    outline: none;
}

.input-container {
    @include dFlex(column, flex-start, center);
    width: 100%;
    height: 100%;
    position: relative;

    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 16px;
        background-color: transparent;
        transition: all 0.1s ease-in;

        &:hover {
            background-color: lightblue;
        }
    }
}

.error-message {
    width: 100%;
    position: absolute;
    bottom: -18px;
    left: 0;
    @include dFlex(row, flex-start, center);

    p {
        @include DMSans(400, 15px, 19.53px, $error-red);
    }
}

.header {
    z-index: 5;
}