<section>
    <app-header class="header"></app-header>
</section>
<section class="home-wrapper">
    <div class="preview-section">
        <!-- todo embedd video player here START -->
        <img class="video-player" src="assets/img/videos/placeholder_player.png" alt="video-1">
        <!-- todo embedd video player here END-->
        <!-- todo embedd video description here START -->
        <div class="video-description">
            <h1>Breakout</h1>
            <p>In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and
                prove his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and
                expose the truth.</p>
            <button type="button" (click)="handlePlayVideo()"><img src="assets/img/icons/play_btn.svg"
                    alt="play_btn">Play</button>
        </div>
        <!-- todo embedd video description here END-->
    </div>
    <div class="category-section">
        <!-- todo add categories here START -->
        <div class="category-container">
            <h2>New on Videoflix</h2>
            <div class="video-container">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
            </div>
        </div>
        <div class="category-container">
            <h2>Documentary</h2>
            <div class="video-container">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
            </div>
        </div>
        <div class="category-container">
            <h2>Drama</h2>
            <div class="video-container">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
                <img src="assets/img/videos/placeholder_video.png" alt="video-1">
            </div>
        </div>
        <!-- todo add categories here END-->
    </div>
    <section class="home-footer">
        <app-footer></app-footer>
    </section>
</section>